<div>
<body>
  <!-- <img [src]="image" alt=""> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a style="color: hwb(14 4% 3%);" class="navbar-brand" routerLink="#"> <strong>ROYAL HOTEL</strong> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a style="color:black;" class="nav-item nav-link" routerLink="/admin">Admin</a>
            <a style="color:black;" class="nav-item nav-link"routerLink="/owner">Owner</a>
            <a style="color:black;" class="nav-item nav-link" routerLink="/user">User</a>
          </div>
        </div>
      </nav>
      <img id="back" src="../assets/img/royal.jpg" height="100%" width="100%">
</body>
</div>
<div class="container">





  
</div>