// #img{
//     background-color: url('~src/assets/img/royal.jpg');
// }
a:hover{
    background-color: yellow;
}
.container{
    height: 1000px;
}
#back{
opacity: 0.5;
}
// div{
//     background-color: url('~src/assets/img/royal.jpg');
// }