
.main{
    background-image: url('~src/assets/img/water.jpeg');
    opacity: 0.5px;
}
body{
    background-image: url('~src/assets/img/royal.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.bg{
    margin-left: 5px;
}
