<body>
  <div class="main">
    <!-- <img [src]="image" alt=""> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light main" >
      
          <button type="button" class="btn btn-secondary btn-lg"><b>ROYAL HOTEL</b></button>
          <button type="button" class="btn btn-success bg" (click)="Journey('Admin')" routerLink="/admin">Admin</button>
          <button type="button" class="btn btn-danger bg" (click)="Journey('Owner')" routerLink="/owner">Owner</button>
          <button type="button" class="btn btn-primary bg" (click)="Journey('User')" routerLink="/user">User</button>
    </nav>
    <!-- <img id="back" src="../assets/img/royal.jpg" height="100%" width="100%"> -->
</div>
</body>

