<h1>Our first project</h1>
<h2>we are learning angular</h2>
<!-- <app-login></app-login>
<app-logout></app-logout>
<app-popup></app-popup>
<app-popup1></app-popup1>
<app-signin></app-signin>
<app-signout></app-signout>
<app-test></app-test> -->
<a routerLink="login">login component</a><br>
<a routerLink="logout">logout component</a><br>
<!-- <a routerLink="more">more</a><br> -->
<a routerLink="admin/adminLogin">admin login component</a><br>
<a routerLink="admin/adminLogout">admin logout component</a><br>
<a routerLink="student/studentLogin">student module</a><br>
<a routerLink="student/studentLogout">student module</a><br>
<a routerLink="admin/adminLogin">adminLogin module</a><br>
<a routerLink="admin/adminLogout">adminLogout module</a><br>
<a routerLink="about/aboutUs">aboutUs module</a><br>



<router-outlet></router-outlet>