<p>login works!</p>
<h1>Function call</h1>
<button (click)="getData('tom')">click</button>
<br><br>
<button (click)="getData2('sunny')">click</button>
<br><br>
<h1>event on input tag</h1>
<input type="text" (keyup)="getData('keyup')" placeholder="keyup">
<br><br>
<input type="text" ((keydown))="getData2('keydown')" placeholder="keydown">
<br><br>
<input type="text" (keypress)="getData('keypress')" placeholder="keypress">
<br><br>
<input type="text" (keyup.enter)="getData('keyup')" (keyup)="getData2('herry')" placeholder="keyupenter and keyup"><br><br>
<input type="text" #inputBox (keyup.enter)="getData(inputBox.value)" (keyup)="getData2(inputBox.value)"><br><br>
<input type="text" (keypress)="getData2($event)"><br><br>
<input type="text" (keypress)="onKeypressEvent($event)"><br><br>
<input type="text" (change)="changeFun($event)" placeholder="change event"><br><br>
<button (click)="getServiceData()">serviceData</button>
<h1>we are lerning interpolation</h1><!--interpolation syntax {{property}}-->
<h3>{{surname}} property interpolation</h3>
<p>{{getInterpolation()}} function interpolation</p>
<p>{{getInter()}}interpolation</p>
<p>{{number==2000}}</p>  <!--it retunes true or false-->
<p>{{number + 2000}}</p> <!--we use arthmatic operation in interpolation-->
<p>{{number}}</p><br>
<h1>property binding</h1> <!--data binding syntax [value]-->
<input type="text" value="Kalyan"> <!--hardcoded value or static values-->
<input type="text" [value]="myName"><br><br>
<input type="text" value={{interpolation}}><br><br>
<input type="text" value="myName">
<input type="text" #inbox (keyup)="getData(inbox.value)"value="Kalyan"><br><br>
<button (click)="buttonClick($event)">event click</button><br><br>
<input type="text" disabled value="Rohit"><br>
<input type="text" value="Virat"><br> 

<input type="text" [disabled]="disableFlag" [value]="disableName"><br><!--property-->
<input type="text" disabled={{disableFlag}} value={{disableName}}><br><!--interpolation-->
<button (click)="disableInputBox()">enable input box</button>  
<!--[(ngModule)]-->
<input type="text" [(ngModel)] = "ngName">
<p>{{ngName}} {{number}}</p>



