<p>logout works!</p>
<!-- <button (click)="getData()">getDataLogOut</button> -->
<!--Directive-->
<!--component directive-->
<!--strutural directive *ngIf ,*ngFor,*ngSwitch-->
<!--alttribute directive ngClass, ngStyle-->
<!--custome directive manully ganerated ng g d directive name-->
<h1>we are learning directive</h1>
<!-- <h2 *ngIf="hide">if block</h2> -->
<div *ngIf="hide">
    <h2>new if block</h2>
    <p>inside if block </p>
</div>
<h2 *ngIf="!hide">else block</h2><!--negation property-->

