<app-header>Header in Angular</app-header>
<h2>we are learning angular</h2>
<li><a routerLink="interpolation">interpolation</a></li>
<li><a routerLink="user-list">user-list</a></li>
<li><a routerLink="condition"> condition </a></li>
<li><a routerLink="form"> forns </a></li>
<li><a routerLink="style"> style </a></li>
<li><a routerLink="user"> user </a></li>
<li><a routerLink="parent"> parent </a></li>
<li><a routerLink="admin"> admin </a></li>
<li><a routerLink="about"> about </a></li>


<!-- <app-footer>Footer in Angular</app-footer> -->


<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->

<router-outlet></router-outlet>