.main{
    border: 2px solid black;
    width: 50%;
    margin: auto;
}

//heading
h1{
    text-align: center;
}
/* Bordered form */
form {
    // border: 2px solid black;
   margin: auto;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid red;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    padding: 6px 6px;
    margin: 6px 0;
    border: none;
    width: 100%;

  }
  
  /* Add a hover effect for buttons */
//   button:hover {
//     opacity: 0.8;
//   }
    
