<div class="main">
    <button class="bg"mat-raised-button color="warn" routerLink="/home">Back</button>

    <button class="bg" mat-raised-button color="primary"  routerLink="/ownersignin">Sign in</button>

    <button class="bg" mat-raised-button color="accent"  routerLink="/ownersignup">Sign up</button>

    <button class="bg" mat-raised-button color="primary"  routerLink="/hoteldetail">Registration</button>

    <button  class="btn btn-dark bg" routerLink="/osucces">Hotel List</button>

    
</div>